body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/*--------------Header CSS--------------*/
#header {
  height: 100vh;
  background-image: url(/images/cover.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.user-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.user-box img {
  border-radius: 50%;
  width: 250px;
  border: 2px solid #6caed5;
  position: relative;
}
.user-box h1 {
  color: #fff;
  font-weight: bold;
  margin: 10px;
}
.user-box p {
  color: #fff;
}

/*-----------About------------*/
.about {
  padding-top: 100px;
  padding-bottom: 50px;
}
.about h3 {
  color: #c26b52;
}
.profile-img {
  height: 400px;
}

.nav-bar {
  top: 0;
  position: sticky;
  z-index: 2;
}
.navbar {
  background-color: #caa794;
}
.navbar-brand img {
  height: 50px;
  border-radius: 200px;
}
.nav-bar .fa-bars {
  font-size: 35px;
  color: #fff;
}
.navbar-toggler {
  outline: none !important;
}
.navbar-nav {
  float: right;
  text-align: right;
}
.nav-link {
  color: #fff !important;
  font-weight: 600;
}

.skills-bar p {
  margin-bottom: 6px;
  font-weight: 600;
}
.progress {
  border-radius: 16px !important;
  margin-bottom: 10px;
}
.progress-bar {
  border-radius: 16px;
  background: #caa794 !important;
}

/*------------Resume---------------*/

.port {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #f9f9f9;
}
.port h3 {
  margin-bottom: 50px;
  color: #c26b52;
}
.timeline {
  list-style: none;
  position: relative;
}
.timeline:before {
  content: "";
  background: #c26b52;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 1;
}
.timeline li {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  background: #fff;
}
.timeline li h4 {
  background-color: #caa794;
  padding: 5px 0 5px 20px;
  color: #fff;
  font-size: 15px;
}
.timeline li h4 span {
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.timeline li:before {
  content: "";
  background: #fff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #c26b52;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 1;
}

/*-----------Services-------*/
.contact {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #caa794;
  border-bottom: 20px solid white;
  border-top: 20px solid white;
}
.contact h1 {
  margin-bottom: 15px;
  border: 2px solid #f3eeea;
  background: white;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.contact-box {
  background: #f3eeea;
  padding: 10px;
  margin-top: 20px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.contact-box .fa {
  margin: 0 10px;
  font-size: 20px;
}
.contact-box span {
  margin: 3px;
  font-size: 20px;
  font-weight: bold;
}
.contact-box p {
  font-size: 15px;
  margin-top: 20px;
  color: #777;
}
.call-img {
  height: 20px;
  width: 20px;
}
.ad-img {
  height: 40px;
  width: 40px;
}
.so-img {
  height: 30px;
  width: 30px;
}
